/* Importo familia de fuentes desde google font - libreFranklin & Lora */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ===================================== Estilos generales ==================================== */

/* Reseteo de etiquetas html */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Se aplica estilo, color y tamaño de fuente */
.estiloFuente{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.negrita{
  font-weight: 700;
}

p{
  text-align: justify;
  font-size: 0.95em;
}

/* ===================================== Estilos del header ==================================== */

/* Tamaño del logo */
.logo{
  width: 49px;
  height: 45px;
}

.customizedNav{
  background-color: rgb(122, 93, 55);
}

@media  (min-width: 992px){
  .customizedNav{
    position: absolute;
    background: none;
    width: 100%;
    z-index: 2;
  }
}

/* Personalizo el hover del nombre de la pyme */
.navbar-brand:hover, .navbar-brand:focus {
  color: white;
}

/* Personalizo el hover de la navegación */
.nav-link:hover, .nav-link:focus {
  color: rgb(255, 153, 0);
}

.colorInicio{
  color: rgb(255, 153, 0);
}
/* ===================================== Estilos del main ==================================== */

/* Se aplica la imagen de fondo principal */
.fondoMain{
  background-image: url("../assets/img/coffee-beans.jpg"); 
  height: 100vh;
  background-size: cover;
}

/* Se atenua la imagen de fondo */
.fondoMain .boxAtenuado{
  background-color: rgba(0, 0, 0, 0.6);
  height: inherit;
  overflow: hidden;
}

/* Se aplican propiedades de caja - Alejamos el contenido de los bordes */
.seccionPrincipal{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

/*  Cambios en fuente y centrado del titulo principal */
.seccionPrincipal h1{
  margin-bottom: 5%;
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}

/*  Cambios en fuente y alejamiento del subtitulo */
.seccionPrincipal h2{
  margin-bottom: 1%;
  font-weight: 400;
  font-style: italic;
}

/*  Cambios en fuente y alejamiento del subtitulo h3 */
.seccionPrincipal h3{
  margin-top: 2%;
  margin-bottom: 1%;
  font-weight: 400;
  font-style: italic;
  font-size: 1.25em;
}

/*  Espaciado entre parrafos */
.seccionPrincipal p{
  margin-bottom: 1%;
}

/* ===================================== Estilos del footer ==================================== */

.estiloFooter{
  height: 3vh;
}

.estiloFooter p{
  font-size: 0.65em;
  text-align: center;
  position: relative;
  top: 34%;
}