@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.fontLora {
  color: #ffffff;
  text-decoration: none;
  font-family: "Lora", serif;
  font-weight: 400;
}

.fontFranklin {
  color: #ffffff;
  text-decoration: none;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}

.negrita {
  font-weight: 700;
}

.text-brown {
  color: rgb(255, 153, 0);
}

.text-negro {
  color: #33211D;
}

.interletraje {
  letter-spacing: 5px;
}

.borde-primario {
  border-color: rgb(255, 153, 0);
}

::placeholder {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customizedNav {
  background-color: rgb(104, 81, 50);
}
.customizedNav .logo {
  width: 49px;
  height: 45px;
}
.customizedNav .navbar-brand:hover, .customizedNav .navbar-brand:focus {
  color: white;
}
.customizedNav .nav-link:hover, .customizedNav .nav-link:focus {
  color: rgb(255, 153, 0);
}

@media (min-width: 992px) {
  .customizedNav {
    position: absolute;
    background: none;
    width: 100%;
    z-index: 2;
  }
}
.carousel-focus {
  background: linear-gradient(rgba(41, 28, 25, 0.5215686275), rgba(41, 28, 25, 0.5215686275));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-borde {
  border-radius: 0;
}

.btn-hover:hover, .btn-brown:hover, .btn-light-brown:hover {
  color: #fff;
  background-color: #1b110f;
  border-color: #120c0b;
}

.btn-focus:focus, .btn-brown:focus, .btn-light-brown:focus {
  color: #fff;
  background-color: #1b110f;
  border-color: #120c0b;
  box-shadow: 0 0 0 0.2rem rgba(82, 66, 63, 0.5019607843);
}

.btn-light-brown {
  color: #000000;
  background-color: rgb(255, 153, 0);
  border-color: #33211D;
}

.btn-brown {
  color: #fff;
  background-color: #33211D;
  border-color: #33211D;
}

/* Estilos del carusel */
.overlay, .overlay-bottom::after, .overlay-top::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left: 0;
  z-index: 1;
}

.overlay-top::before {
  top: -1px;
  background: url(../assets/img/overlay-top.png);
}

.overlay-bottom::after {
  bottom: -1px;
  background: url(../assets/img/overlay-bottom.png);
}

.section-titulo {
  position: relative;
  padding: 115px 0 35px 0;
  text-align: center;
}
.section-titulo:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100px;
  top: 0;
  left: 50%;
  margin-left: 1px;
  background: rgb(255, 153, 0);
}

.menu-precio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  bottom: 125px;
  left: 90px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  color: #33211D;
  background: rgb(255, 153, 0);
}

.reservacion,
.estiloFooter,
.cabecera,
.oferta {
  background: linear-gradient(rgba(51, 33, 29, 0.8509803922), rgba(51, 33, 29, 0.8509803922)), url(../assets/img/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-icon {
  margin-right: 15px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: #33211D;
  background: rgb(255, 153, 0);
}

/*# sourceMappingURL=estilos.css.map */
