.reservacion,
.estiloFooter,
.cabecera,
.oferta{
    background: linear-gradient(#33211dd9, #33211dd9), url(../assets/img/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}