.customizedNav{
    background-color: rgb(104, 81, 50);
    @media  (min-width: 992px){
        position: absolute;
        background: none;
        width: 100%;
        z-index: 2;
    }
    .logo{
        width: 49px;
        height: 45px;
    }
    .navbar-brand:hover, .navbar-brand:focus{
        color: white;
    }
    .nav-link{
        transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
        &:hover, &:focus{
            color: map-get($color, marron-claro);
            transform: scale(1.005);
            @media  (min-width: 992px){
                transform: scale(1.1);
            }
        }
    }
}

.bg-404{
    .customizedNav{
        background-color: rgb(0, 0, 0);
        @media  (min-width: 992px){
            position: absolute;
            background: none;
            width: 100%;
            z-index: 2;
        }
    }
}