$tipografia-general: 'Lora', serif;
$tipografia-alternativa: 'Libre Franklin', sans-serif;

$interletraje: 5px;

$color: (
    marron-claro: rgb(255, 153, 0),
    blanco: #ffffff,
    negro: #33211D
)